@import url("./style/1_intro.css");
@import url("./style/2_header.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap");

body {
    margin: 0;
    font-family: "Noto Serif KR", serif;
}